!!!
html
  head
    title="ANDLABS StudioLounge Hangout Chat"
    meta(name="author", content="ANDLABS.eu")
    meta(name="description", content="A place to post happy logs")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
